#sd_options
{
    width:785px;
    margin-top:15px;
    margin-left:20px;
}
#sd_options .header
{
    height: 80px;
    background: #DFDFDF url("http://labs.ringwoodhosting.com/hpbs/wp-admin/images/gray-grad.png") repeat-x left top;
    border: 1px solid #CCC;
    border-top-left-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    border-top-right-radius: 6px;
    -moz-border-radius-topright: 6px;
}
#sd_options .header h2
{
    font-style: normal;
    color: #464646;
    margin-left: 20px;
    margin-top: 10px;
}
#sd_options .main
{
    background-color: #F1F1F1;
    border-left: 1px solid #D8D8D8;
    border-right: 1px solid #D8D8D8;
    border-bottom: 1px solid #D8D8D8;
}
#sd_options .main .sidebar
{
    float: left;
    position: relative;
    z-index: 99;
    width: 160px;
}
#sd_options .main .options
{
    float: left;
    min-height: 550px;
    width: 595px;
    margin-left: -1px;
    padding: 0 14px;
    font-family: "Lucida Grande", Sans-serif;
    background-color: white;
    border-left: 1px solid #D8D8D8;
}
#sd_options .main .sidebar .tab
{
    display: block;
    padding: 10px 10px 10px 15px;
    font-family: Georgia, Serif;
    font-size: 13px;
    text-decoration: none;
    color: #797979;
    border-bottom: 1px solid #D8D8D8;
    cursor:pointer;
}
#sd_options .main .sidebar .tab:hover, #sd_options .main .sidebar .tab.active
{
    background-color: white;
    color: #21759B;
}
#sd_options .main .options .option_section .section
{
    margin-bottom: 10px;
}
#sd_options .main .options .option_section .section .heading
{
    margin: 10px 0 10px 0;
    padding: 7px 0px;
    border-bottom: 1px solid #E7E7E7;
    display:block;
}
#sd_options .main .options .option_section .section .setting .control
{
    float: left;
    width: 345px;
    margin: 0 15px 0 0;
}
#sd_options .main .options .option_section .section.checkbox .setting .control
{
    width:54px;
    height:30px;
}
#sd_options .main .options .option_section .section .setting .help
{
    float: left;
    width: 225px;
    padding: 0 10px 0 0;
    font-size: 11px;
    color: #999;
}
#sd_options .main .options .option_section .section.checkbox .setting .help
{
    width: 500px;
}
#sd_options .footer
{
    background: #F3F3F3;
    border: solid #CCC;
    padding: 10px 20px 0px 20px;
    height: 35px;
    text-align: right;
    -moz-border-radius-bottomright: 6px;
    -moz-border-radius-bottomleft: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-width: 0px 1px 1px 1px;
}
.sd_checkbox
{
    width:52px;
    height:25px;
    background-image: url("images/checkbox_bg.png");
    background-position: -26px 0px;
    cursor:pointer;
}
.sd_checkbox.on
{
    background-position: 0px 0px;
}
.sd_checkbox.off
{
    background-position: -52px 0px;
}
.red
{
    color:red;
    margin-bottom:5px;
}

.sd_message
{
    border-top-style:solid;
    border-top-width:1px;
    border-bottom-width:1px;
    border-bottom-style:solid;
    height:22px;
    padding-top:3px;
    text-align:center;
    margin-top: 10px;
}
.sd_message.checking, .sd_message.notification
{
    background-color:#FFFEDF;
    border-top-color:#E6DB55;
    border-bottom-color:#E6DB55;
    border-bottom-width:1px;
}
.sd_message.licensed
{
    display:none;
    color:white;
    background-color: green;
    border:none;
}
.sd_message.unlicensed
{
    display:none;
    color:white;
    background-color:red;
    border:none;
}
.premiumopacity
{
    opacity:0.5;
}
.sd_apple_selection
{
    float:left;
    color: #444;
    height: 31px;
    line-height: 31px;
    padding: 0 9px;
    display: block;
    background: url(images/bg-tab-items.gif) repeat-x;
    -moz-border-radius: 3px 3px 5px 5px;
    -webkit-border-radius: 3px 3px 5px 5px;
    border-radius: 3px 3px 5px 5px;
    border-top-left-radius: 3px 3px;
    border-top-right-radius: 3px 3px;
    border-bottom-right-radius: 5px 5px;
    border-bottom-left-radius: 5px 5px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
    margin-right:15px;
    margin-bottom:10px;
}
.sd_apple_selection .option
{
    float:left;
    height:31px;
    padding-right:7px;
    padding-left:7px;
    cursor:pointer;
    margin-right:2px;
}
.sd_apple_selection .option.selected, .sd_apple_selection .option:hover
{
    background: url(images/bg-tab-items.gif) repeat-x;
    background-position: left -31px;
    color: #E2E2E1;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}
.sd_apple_selection .title
{
    margin-left: 5px;
    margin-right: 10px;
    float:left;
    height:31px;
}